@font-face {
	font-family: 'BenguiatBold';
	src: url('https://sweater.jonathan-ray.com/benguiatbold/BenguiatBold.ttf')
			format('truetype'),
		url('https://sweater.jonathan-ray.com/benguiatbold/BenguiatBold.woff')
			format('woff');
	font-weight: 800;
	font-style: bold;
}
