.sweater-container::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-image: url('../pattern.svg');
}
.sweater-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-left: 0.5em; */
}

.sweater {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

ul {
	padding-inline-start: 0;
}

.row-1 {
	width: 75vw;
}

.row-2 {
	width: 85vw;
}
.row-3 {
	width: 80vw;
	/* margin-left: -2em; */
}

@supports (-webkit-overflow-scrolling: touch) {
	.sweater-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: -55px;
	}
}
