.upside-down {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50vh;
	/* background-color: #000; */
}

.upside-down {
	background-position: top 0 left 0, top 0 right 0, top 0 right 10vw,
		top 0 left 10vw, top 0 right 20vw, top 0 left 20vw, top 0 left 30vw,
		top 0 right 30vw;

	background-size: 30vw;
	background-repeat: no-repeat;

	background-image: url(https://sweater.jonathan-ray.com/trees/tree1.svg),
		url(https://sweater.jonathan-ray.com/trees/tree2.svg),
		url(https://sweater.jonathan-ray.com/trees/tree3.svg),
		url(https://sweater.jonathan-ray.com/trees/tree4.svg),
		url(https://sweater.jonathan-ray.com/trees/tree1.svg),
		url(https://sweater.jonathan-ray.com/trees/tree2.svg),
		url(https://sweater.jonathan-ray.com/trees/tree3.svg),
		url(https://sweater.jonathan-ray.com/trees/tree4.svg);
}
